extends layout

block content
  h1 StarryDex Database Manager
  p.lead
    | Use this console to see how much data we have accumulated.
  p Google Analytics is also full of good stuff.

  p
    a(href='http://boundstar.com') Boundstar
  p
    a(href='http://forum.boundstar.com') Boundstar Forums
  p
    a(href='http://starbound.today') Starbound Today
  p
    a(href='http://starrydex.com') StarryDex